.two-sum {
	font-family: roboto, sans-serif;
	font-size: 30px;
}

.circle-container {
	display: flex;
	gap: 5px;
}

.circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle.solved {
	background-color: #2196f3;
}

.button-container button {
	margin-top: 40px;
	margin-right: 10px;
	padding: 8px 16px;
	background-color: #2196f3;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
}

.button-container button:hover {
	background-color: #1565c0;
}
